<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header class="main-header">
        <div class="header-top">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo">
            <p><div class ="search-bar">Buscar productos, marcas
            <i class="fas fa-search"></i> </div></p>
            <div class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
            <section class="lista">
            <ul class="ul1"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="ul2">
                <li><a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header> 
    <main>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for=""></label>
                <input type="text" name="fullname" placeholder="Nombre y apellido"  required minlength="7">
            </div>

            <div class="form-control">
                <label for=""></label>
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-control">
                <label for=""></label>
                <input type="date" name="fecha" placeholder="Fecha de Nacimiento" required>
            </div>

            <div class="form-control">
                <label for="">Perfil de usuario</label>
                <select name="perfil">
                    <option disabled selected>Seleccioná una opción</option>
                    <option value="comprador"> Comprador</option>
                    <option value="vendedor"> Vendedor</option>
                </select>
            </div>
            <div class="form-control">
                <h4>Categorias de interés</h4>
                
                <input type="checkbox" name="interes" value="electro" id="electro">
                <label for="electro">Electro</label>
                
        
                <input type="checkbox" name="interes" value="moda" id="moda">
                <label for="moda">Moda</label>

                <input type="checkbox" name="interes" value="healthy" id="healthy">
                <label for="healthy">Vida Sana</label>

                <input type="checkbox" name="interes" value="hogar" id="hogar">
                <label for="hogar">Hogar</label>

                <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                <label for="jugueteria">Juguetería</label>
            </div>
            <div class="form-control">
                <label for="">Foto</label>
                <input type="file" name="avatar">
            </div>
            <div class="form-control">
                <label for="">Contraseña</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-control">
                <label for="">Repetir Contraseña</label>
                <input type="password" name="repeatpass" required> 
            </div>
            <div class="botones">
                <button type="submit" class="enviar">Registrarse</button>
                <button type="reset" class="borrar">Borrar</button>
</div>
        </form>
    </main>
    <footer>
        <article class="piepagina">
        <div class = "info">
            <i class="fas fa-credit-card"></i> 
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class = "info">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
        </div>
        <div class = "info">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
        </div>
        </article>
        <p class="copy">Copyright &copy 1999-2000 MercadoLiebre S.R.L. </p>
    </footer>
</body>
</html>