form {
    margin-top: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 12px;
}

input {
    border: white;
    border-radius: 5px;
}

.form-control label {
    width: 100%;
}


.form-control input {
    width: 100%;
}

.enviar {
    background-color:white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.borrar {
    background-color:white;
    border-radius: 5px;
    padding: 5px;

}

.enviar:hover {
    background-color: rgb(147, 211, 147);
}

.borrar:hover {
    background-color: rgb(211, 131, 131);
}

body {
    background-color: rgb(240, 235, 235);
}

.botones {
    width: 100%;
    display: flex;
    justify-content:stretch;
    margin-bottom: 20px;
}

input:invalid {
    border: solid 1px red;

}

